.component1-container {
  display: flex;
  position: relative;
  align-items: center;
  border-color: #787878;
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
}
