.cta15-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta15-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  overflow: hidden;
  max-width: var(--dl-layout-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cta15-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
 
.cta15-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta15-actions {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.cta15-fragment1 {
  display: contents;
}
 
.cta15-text5 {
  display: inline-block;
}
 
.cta15-fragment2 {
  display: contents;
}
 
.cta15-text6 {
  display: inline-block;
}
 
.cta15-fragment3 {
  display: contents;
}
 
.cta15-text7 {
  display: inline-block;
}
 
.cta15-fragment4 {
  display: contents;
}
 
.cta15-text8 {
  display: inline-block;
}
