.faq9faq8 {
  width: 978px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.faq9-max-width {
  align-self: center;
}
 
.faq9-section-title {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.faq9-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq9-text10 {
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
}
 
.faq9-list {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.faq9-faq1 {
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
}
 
.faq9-trigger1 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq9-faq1-question {
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
}
 
.faq9-icons-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq9-icon10 {
  width: 24px;
  height: 24px;
}
 
.faq9-icon12 {
  width: 24px;
  height: 24px;
}
 
.faq9-container12 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.faq9-faq2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.faq9-trigger2 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq9-faq2-question1 {
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
}
 
.faq9-icons-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq9-icon14 {
  width: 24px;
  height: 24px;
}
 
.faq9-icon16 {
  width: 24px;
  height: 24px;
}
 
.faq9-container15 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.faq9-faq3 {
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
}
 
.faq9-trigger3 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq9-faq2-question2 {
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
}
 
.faq9-icons-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq9-icon18 {
  width: 24px;
  height: 24px;
}
 
.faq9-icon20 {
  width: 24px;
  height: 24px;
}
 
.faq9-container18 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.faq9-faq4 {
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
}
 
.faq9-trigger4 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq9-faq2-question3 {
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
}
 
.faq9-icons-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq9-icon22 {
  width: 24px;
  height: 24px;
}
 
.faq9-icon24 {
  width: 24px;
  height: 24px;
}
 
.faq9-container21 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.faq9-fragment1 {
  display: contents;
}
 
.faq9-text16 {
  display: inline-block;
}
 
.faq9-fragment2 {
  display: contents;
}
 
.faq9-text17 {
  display: inline-block;
  font-family: "Inter";
}
 
.faq9-fragment3 {
  display: contents;
}
 
.faq9-text18 {
  display: inline-block;
}
 
.faq9-fragment4 {
  display: contents;
}
 
.faq9-text19 {
  display: inline-block;
  font-family: "Inter";
}
 
.faq9-fragment5 {
  display: contents;
}
 
.faq9-text20 {
  display: inline-block;
}
 
.faq9-fragment6 {
  display: contents;
}
 
.faq9-text21 {
  display: inline-block;
}
 
.faq9root-class-name {
  height: 100%;
}
 
.faq9root-class-name1 {
  height: 100%;
}
 
.faq9root-class-name2 {
  height: 100%;
}
 
@media(max-width: 991px) {
  .faq9-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .faq9faq8 {
    width: 481px;
    margin-right: 0px;
  }
  .faq9-text10 {
    text-align: center;
  }
  .faq9-text11 {
    text-align: center;
  }
  .faq9-faq1-question {
    text-align: left;
  }
  .faq9-faq2-question1 {
    text-align: left;
  }
  .faq9-faq2-question2 {
    text-align: left;
  }
  .faq9-faq2-question3 {
    text-align: left;
  }
}
 
@media(max-width: 479px) {
  .faq9faq8 {
    width: 365px;
  }
  .faq9-text10 {
    text-align: left;
  }
  .faq9-text11 {
    text-align: left;
  }
}
