.gallery51-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery51-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery51-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery51-text1 {
  text-align: center;
}
 
.gallery51-text2 {
  text-align: center;
}
 
.gallery51-container1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.gallery51-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery51-container2 {
  gap: HalfUnits;
  flex: 1;
  width: 100%;
  height: 902px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery51-container3 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
}
 
.gallery51-image1 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  max-height: 700px;
}
 
.gallery51-image2 {
  width: 100%;
  height: 60%;
  max-height: 700px;
  object-fit: cover;
}
 
.gallery51-container4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.gallery51-image3 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
 
.gallery51-image4 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
 
.gallery51-fragment1 {
  display: contents;
}
 
.gallery51-text3 {
  display: inline-block;
}
 
.gallery51-fragment2 {
  display: contents;
}
 
.gallery51-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .gallery51-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery51-container2 {
    height: auto;
  }
  .gallery51-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .gallery51-image2 {
    height: 100%;
  }
  .gallery51-container4 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .gallery51-section-title {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 479px) {
  .gallery51-image2 {
    max-height: 400px;
  }
}
