.gallery6-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery6-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery6-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery6-text1 {
  text-align: center;
}
 
.gallery6-text2 {
  text-align: center;
}
 
.gallery6-container1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.gallery6-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery6-container2 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery6-image1 {
  width: 100%;
  height: 902px;
  max-width: 100%;
  align-self: center;
}
 
.gallery6-container3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery6-container4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.gallery6-image2 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.gallery6-image3 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.gallery6-container5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.gallery6-image4 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.gallery6-image5 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
 
.gallery6-fragment1 {
  display: contents;
}
 
.gallery6-text3 {
  display: inline-block;
}
 
.gallery6-fragment2 {
  display: contents;
}
 
.gallery6-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .gallery6-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery6-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 440px;
  }
  .gallery6-container4 {
    width: 100%;
  }
  .gallery6-container5 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .gallery6-section-title {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 479px) {
  .gallery6-container3 {
    flex-direction: column;
  }
}
